<!doctype html>
<html>
    <head>
        <title>Nerdcred</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" href="/static/icon.png">
    </head>
    <body>
        
        <section id="content">

            <header>

                <h1>{{ title }}</h1>

                {%- with messages = get_flashed_messages(True) -%}
                    {%- if messages|length > 0 -%}

                        <ul id="messages">
                        {%- for (class, message) in messages -%}
                            <li class="{{ class }}">{{ message }}</li>
                        {%- endfor -%}
                        </ul>

                    {%- endif -%}
                {%- endwith -%}

            </header>

            <div id="content-wrapper">{%- include content -%}</div>

            <footer>

                Footer action!

            </footer>

        </section>

    </body>
</html>
