<form id="registration" method="POST">

    <input type="text" name="name" />
    <input type="password" name="password" />

    <button type="submit" name="submit" value="register">Register</button>

</form>
