<form id="transaction" method="POST">

    <input id="boo" type="radio" name="value" value="-1">
    <label for="suck">Boo!</label>

    <input id="woo" type="radio" name="value" value="1">
    <label for="woo">Woo!</label>

    <label>Words<textarea name="message"></textarea></label>

    <button type="submit" name="submit" value="send">Unleash the intertubes!</button>

</form>
